medical-patients-api/node_modules
medical-patients-api/public/hot
medical-patients-api/public/storage
medical-patients-api/storage/*.key
medical-patients-api/vendor
medical-patients-api/.idea
medical-patients-api/.vscode
medical-patients-api/.vagrant
medical-patients-api/Homestead.json
medical-patients-api/Homestead.yaml
medical-patients-api/npm-debug.log
medical-patients-api/yarn-error.log
medical-patients-api/.env
medical-patients-api/.phpunit.result.cache
/nbproject
medical-patients-api/nbproject
/medical-patients-api/nbproject/private/
dbdata
